<h2><div><%= @question.title %></div></h2>
<h3><div><%= @question.body %></div></h3>

<%= link_to 'Edit', edit_question_path %>
<%= link_to 'Back', questions_path %>
<%= button_to "Delete", question_path, method: :delete %>